<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>

  <h1>Fruits Show Page</h1>

  THe <%= fruit.name %> is <%= fruit.color %>

  <% if(fruit.readyToEat === true) { %>
       <span> The fruit is good to go </span>

   <% } else { %>
     <span>No fruit for you </span>
   <% } %>


</body>
</html>
